.footer-container {
  padding-bottom: 30px;
  background-color: $standard-white;

  .social-medias-list {
    margin: 15px 0px 0px;
    padding: 0px;
    @include flex-align(row, center, center);
  }

  .copyright {
    margin: 15px 10px 15px 0px;
    text-align: center;
    font-size: 18px;
    color: $standard-black-font;
  }

  .page-links-container {
    @include flex-align(row, center, center);

    a {
      text-decoration: none;
      color: $standard-black-font;

      &:hover {
        color: $standard-green-font;
      }
    }
  }
}
