.footer-container {
  background-color: $standard-white;

  .social-medias-list {
    margin: 15px 0px 0px;
    padding: 0px;
    @include flex-align(row, center, center);
  }

  .copyright {
    margin: 15px 10px 30px 0px;
    text-align: center;
    font-size: 18px;
    color: $standard-black-font;
  }
}