.header-container {
  display: none;
  padding: 50px 0px;
  font-size: 50px;
  font-weight: 900;
  font-family: $ld-font-family;
  text-align: center;
  color: $standard-black-font;

  @include screenbreak($medium) {
    display: block;
  }

  @include screenbreak($large) {
    font-size: 70px;
  }
}