.ghost-author {
  @include flex-align(row, flex-start, center);

  .profile-image {
    max-height: 40px;
    border-radius: 100%;
  }

  .name {
    margin: 0px 0px 0px 10px;
    font-size: 16px;
  }
}