$standard-white: #f5f5f5;
$standard-white--variant-2: #fcfcfc;

$standard-black-font: #000;
$standard-grey-font: rgb(97, 94, 94);
$standard-green-font: #9CAF88;
$standard-green-font-variant--1: rgb(110, 138, 80);
