@mixin flex-align($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin screenbreak($start, $end: false) {
  @if $end {
    @media screen and (min-width: $start) and (max-width: $end) {
      @content;
    }
  } @else {
    @media screen and (min-width: $start) {
      @content;
    }
  }
}