// Foundation Imports
@import 'foundation-sites/scss/foundation.scss';

// Foundation Includes
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-button;
@include foundation-forms;
@include foundation-global-styles;

// Utilities
@import './utils/settings';
@import './utils/fonts';
@import './utils/colors';
@import './utils/mixins';

// Components
@import './components/layout/TopNav';

body {
  margin: 0px;
  font-family: $standard-font-family;
  height: 100%;

  // Temporary
  height: 10000px;
  background-color: rgb(200, 200, 200);
}

#root, .app {
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}