// Fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+JP&display=swap');

// Foundation Imports
@import 'foundation-sites/scss/foundation.scss';

// Foundation Includes
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-button;
@include foundation-forms;
@include foundation-global-styles;

// Utilities
@import './utils/settings';
@import './utils/fonts';
@import './utils/colors';
@import './utils/mixins';

// Layout
@import './layout/BasicLayout';
@import './layout/TopNav';
@import './layout/Footer';
@import './layout/Header';

// Components
@import './components/ScalableImage';
@import './components/home/FeaturedPost';
@import './components/home/RecentPosts';
@import './components/home/PostsByCategory';
@import './components/home/PostSneakPeak';

body {
  margin: 0px;
  height: 100%;
  font-family: $standard-font-family;
  background-color: $standard-white--variant-2;
}

#root, .app {
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


p.test {
  font-size: 18px;
  max-width: 1000px;
  text-align: left;

  a.test {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: $standard-green-font;
    transition: color 200ms;
  
    &:hover {
      text-decoration: underline;
      color: $standard-green-font-variant--1;
    }
  }
}